.header {
  height: 50px;
  background-color: #4355f1;
  display: flex;
  align-items: center;
}
.header img {
  height: 60px;
}
.header-left {
  justify-content: flex-start;
  flex-grow: 1;
}
.header-right {
  margin-right: 10px;
}
.header-link:hover {
  color: #c9c9c9;
  transition: 0.15s;
}
.header-link {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home img {
  height: 300px;
  align-self: center;
}
.home p {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  padding-left: 20%;
  padding-right: 20%;
}
.link-button {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #adeee2;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  font-family: Helvetica, sans-serif;
}
.link-button:hover {
  background-color: #96d4c9;
  transition: 0.2s;
}

.calculator-container {
  margin: auto;
  width: 50%;
  text-align: center;
}

.calculator-solution-container {
  border-radius: 10px;
  background-color: #ececec;
  margin: auto;
  width: 50%;
  height: 100%;
  padding: 5%;
}

.solution {
  color: white;
  /* background-color: #ff8c00; */
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  border-radius: 3px;
  /* vertical-align: middle; */
}

.solution-background {
  background-color: #ff8c00;
}

.solution-song {
  font-size: 24px;
}

.calculator-dropdown {
  width: 250px;
}
