.header {
  height: 50px;
  background-color: #4355f1;
  display: flex;
  align-items: center;
}
.header img {
  height: 60px;
}
.header-left {
  justify-content: flex-start;
  flex-grow: 1;
}
.header-right {
  margin-right: 10px;
}
.header-link:hover {
  color: #c9c9c9;
  transition: 0.15s;
}
.header-link {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home img {
  height: 300px;
  align-self: center;
}
.home p {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  padding-left: 20%;
  padding-right: 20%;
}
.link-button {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #adeee2;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  font-family: Helvetica, sans-serif;
}
.link-button:hover {
  background-color: #96d4c9;
  transition: 0.2s;
}

.calculator-container {
  margin: auto;
  width: 50%;
  text-align: center;
}

.calculator-solution-container {
  border-radius: 10px;
  background-color: #ececec;
  margin: auto;
  width: 450px;
  height: 100%;
  padding-top: 1%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution {
  color: white;
  /* background-color: #ff8c00; */
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  border-radius: 3px;
  font-size: 24px;
  /* vertical-align: middle; */
}

.solution-background {
  background-color: #ff8c00;
}

.solution-song {
  font-size: 36px;
}

.solution-text {
  font-size: 24px;
}

.calculator-dropdown {
  width: 375px;
  font-size: 22px;
}

.search-bar {
  width: 375px;
  box-sizing: border-box;
  font-size: 22px;
}

.search-bar-selected {
  width: 375px;
  box-sizing: border-box;
  font-size: 22px;
}

.search-bar-selected:hover {
  cursor: pointer;
}

.search-bar-results {
  width: 375px;
  background-color: wheat;
  position: relative;
  z-index: 100;
  display: none;
}

.search-bar-results-shown {
  display: block;
  width: 375px;
  max-height: 250px;
  background-color: white;
  overflow-y: scroll;
  position: absolute;
  top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar-results-container {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-bar-item {
  text-align: left;
  padding-left: 5px;
  font-size: 22px;
}

.search-bar-item:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}
.submit-button {
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 22px;
}

.calculator-container label {
  font-size: 22px;
  margin-bottom: 5px;
}

.title {
  font-size: 50px;
}

.description {
  font-size: 18px;
}

.about-container {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.about-container img {
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-container p {
  font-size: 20px;
}

.custom-name {
  width: 235px;
  box-sizing: border-box;
  font-size: 22px;
}

.custom-range {
  width: 70px;
  font-size: 22px;
}
